<%= form_with(model: [ @room, measurement]) do |form| %>
  <% if measurement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
        <% measurement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.text_field :length %>
  </div>

  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.text_field :width %>
  </div>

  <div>
    <%= form.label :depth, style: "display: block" %>
    <%= form.text_field :depth %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.text_field :room_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
