<div id="<%= dom_id measurement %>">
  <p>
    <strong>Length:</strong>
    <%= measurement.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= measurement.width %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= measurement.depth %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= measurement.room_id %>
  </p>

</div>
